{% extends 'base.html.twig' %}

{% block title %}Liste des Missions - Spy App{% endblock %}


{% block content %}

    <div class="text-center">
        <h1>Service des renseignements</h1>
        <br>
        <p>Bienvenue sur le site de l'agence d'espionnage N°<b>1</b> Mondial. <br>
            Ici vous pourrez consulter la liste des missions liés à nos agents</p>
    </div>
    <hr>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
        </tr>
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="text-center">
            <a href="#" class="btn btn-success btn-block"> Ajouter une mission ?</a>
        </div>
    {% endif %}
{% endblock %}
