{% extends 'base.html.twig' %}

{% block title %}Ajouter une spécialité - Spy App {% endblock %}

{% block content %}
    <h1 class="text-center">Ajouter une spécialité</h1>
    {{ form(form) }}
{% endblock %}
