{% extends 'base.html.twig' %}

{% block title %}Modifier une spécialité - Spy App {% endblock %}

{% block content %}
    <h1 class="text-center">Modifier une spécialité</h1>
    {{ form(form) }}
{% endblock %}