{% extends 'base.html.twig' %}

{% block title %}Modifier un contact - Spy App {% endblock %}

{% block content %}
    <a class="float-end btn btn-primary btn-sm " href="{{ path('app_contact') }}">Retour</a>
    <h1 class="text-center">Modifier un contact</h1>
    {{ form(form) }}
{% endblock %}
